html, body, .heighty{
  height: 100%;
}

.my-container {
  min-height: 100%;
  height: 100%;
  position: relative;
}

@font-face{
  font-family: "indie-font";
  src: url("/fonts/ruba-webfont.ttf")
}

.outer-image{
  height: 100%;
}

svg {
  display: block;
  margin: auto;
}

.interaction-panel {
  box-shadow: -7px 0px 20px -2px rgba(0,0,0,0.50);
}

.map-footer{
  box-shadow: 0px -1px 7px 0px rgba(0,0,0,0.50);
}

.button-buddy {
  cursor: pointer;
  box-shadow: 4px 2px 4px 0px rgba(0,0,0,0.50);
  border-radius: 8px;
  height: 50px;
  width: 46px;
  border: 0;
}

.button-group-buddy:nth-child(n+2){
  border-top: 1px solid #ccc;
}

.button-buddy button:hover {
  background-color: #a4a4a4;
  }

/* TOOLBOX stuff */

.toolbox {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
}

.clickable {
  pointer-events: auto;
}

.click-thru {
  pointer-events: none;
}

/* Styling Draw tools madness */

.leaflet-draw-toolbar a {
  background-image: url('./public/images/spritesheet-2x_white.png');
  background-repeat: no-repeat;
}

.leaflet-retina .leaflet-draw-toolbar a {
  background-image: url('./public/images/spritesheet-2x.png');
  background-size: 270px 30px;
}

.leaflet-bar{
  box-shadow: 4px 2px 4px 0px rgba(0,0,0,0.50);
  border-radius: 8px;
}

.leaflet-top{
  top: 120px;
  right: 2px;
}

.leaflet-bar a,
.leaflet-bar a:hover {
  border-bottom: 1px solid #ccc;
  width: 40px;
  height: 48px;
  line-height: 26px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #474C57;
  background-size: 500px;
  }
.leaflet-bar a,
.leaflet-control-layers-toggle {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block;
  }
.leaflet-bar a:hover {
  background-color: #a4a4a4;
  }
.leaflet-bar a:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  }
.leaflet-bar a:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom: none;
  }
.leaflet-bar a.leaflet-disabled {
  cursor: default;
  background-color: #a4a4a4;
  color: #bbb;
  }

  /* ================================================================== */
/* Draw toolbar
/* ================================================================== */

.leaflet-draw-toolbar .leaflet-draw-draw-polyline {
  background-position: 7px 10px;
}

.leaflet-draw-toolbar .leaflet-draw-draw-polygon {
  background-position: -50px 10px;
}

.leaflet-draw-toolbar .leaflet-draw-draw-rectangle {
  background-position: -111px 10px;
}

/* FOOTER stuff */

.text-left{
  text-align: left;
}

.constrain-padding{
  padding-left: 5;
  padding-right: 5;
}